

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> BackgroundCarousel.tsx</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
             
                <a href="index.html">
                    <h1 class="navbar-item">My React components</h1>
                </a>
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Classes</h3><ul><li><a href="BackgroundCarousel.html">BackgroundCarousel</a></li><li><a href="Coin.html">Coin</a></li><li><a href="Connexion.html">Connexion</a></li><li><a href="Inscription.html">Inscription</a></li><li><a href="Modif.html">Modif</a></li><li><a href="module.html#.exports">exports</a></li><li><a href="Propositions_Profils.html">Propositions_Profils</a></li></ul><h3>Global</h3><ul><li><a href="global.html#ChatListItem">ChatListItem</a></li><li><a href="global.html#Stack">Stack</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>BackgroundCarousel.tsx</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import * as React from "react";
import {StyleSheet,View,ScrollView,Dimensions,Image} from "react-native";

const DEVICE_WIDTH =Dimensions.get("window").width;
/**
 * component permettant d'afficher le carousel d'image 
 */

class BackgroundCarousel extends React.Component{
    scrollRef =React.createRef();
    constructor(props){
        super(props);
    }


   
    render(){
        const {images} = this.props;
        return(
            &lt;View style={{height:"100%", width:"100%"}}>
                &lt;ScrollView horizontal pagingEnabled>
                    {images.map(image => (
                        &lt;Image
                         
                          source={image}
                          style={styles.backgroundImage}/>
                    ))}
                &lt;/ScrollView>
                
            &lt;/View>
        )
    }
}

const styles = StyleSheet.create({
    backgroundImage:{
        height: "100%",
        width: 0.95*(DEVICE_WIDTH)-30,
        resizeMode: "stretch",
        backgroundColor : "rgba(0, 0, 0, 0.2)",
        borderRadius: 10,
        
        borderColor:"black"
      

    },
    
});

export {BackgroundCarousel};</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
