

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> ChatListItems/Index.tsx</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
             
                <a href="index.html">
                    <h1 class="navbar-item">My React components</h1>
                </a>
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Classes</h3><ul><li><a href="BackgroundCarousel.html">BackgroundCarousel</a></li><li><a href="Coin.html">Coin</a></li><li><a href="Connexion.html">Connexion</a></li><li><a href="Inscription.html">Inscription</a></li><li><a href="Modif.html">Modif</a></li><li><a href="module.html#.exports">exports</a></li><li><a href="Propositions_Profils.html">Propositions_Profils</a></li></ul><h3>Global</h3><ul><li><a href="global.html#ChatListItem">ChatListItem</a></li><li><a href="global.html#Stack">Stack</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>ChatListItems/Index.tsx</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React, {useEffect, useState} from 'react';
import {
  View,
  Text,
  Image,
  TouchableWithoutFeedback
} from "react-native";
import { ChatRoom } from "../../types";
import styles from "./Styles";
import moment from "moment";
import { useNavigation } from '@react-navigation/native';
import { NavigationContainer } from '@react-navigation/native';
import { createStackNavigator } from '@react-navigation/stack';
import ChatRoomScreen from "../../screens/ChatRoomScreen";


export type ChatListItemProps = {
  chatRoom: ChatRoom;//ici on prend le chatRoom du style et on le met en props(ici le "export type" permet de definir chatroom comme un type)
} 
/**
 * Component permettant d'afficher une barre de discussion
 */
const ChatListItem = (props: ChatListItemProps) => {
  const { chatRoom } = props;

  const navigation = useNavigation();
  const user =chatRoom.users[1];

/**
 * Fonction pour le bouton permettant la navigation vers "chatRoomScreen"
 */
  const onClick = () => {
    navigation.navigate('ChatRoomScreen', {
      id: chatRoom.id,
      name: user.name,
    })
  }


  return (
    &lt;TouchableWithoutFeedback onPress={onClick}>
      &lt;View style={styles.container}>
        &lt;View style={styles.lefContainer}>
          &lt;Image source={{ uri: user.imageUri }} style={styles.avatar}/>

          &lt;View style={styles.midContainer}>
            &lt;Text style={styles.username}>{user.name}&lt;/Text>
            &lt;Text
              numberOfLines={2}
              style={styles.lastMessage}>
              {chatRoom.lastMessage.content}
            &lt;/Text>
          &lt;/View>

        &lt;/View>

        &lt;Text style={styles.time}>
          {chatRoom.lastMessage &amp;&amp; moment(chatRoom.lastMessage.createdAt).format("DD/MM/YYYY")}
        &lt;/Text>
      &lt;/View>
    &lt;/TouchableWithoutFeedback>
  )
};




export default ChatListItem;</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
