

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Coin.tsx</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
             
                <a href="index.html">
                    <h1 class="navbar-item">My React components</h1>
                </a>
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Classes</h3><ul><li><a href="BackgroundCarousel.html">BackgroundCarousel</a></li><li><a href="Coin.html">Coin</a></li><li><a href="Connexion.html">Connexion</a></li><li><a href="Inscription.html">Inscription</a></li><li><a href="Modif.html">Modif</a></li><li><a href="module.html#.exports">exports</a></li><li><a href="Propositions_Profils.html">Propositions_Profils</a></li></ul><h3>Global</h3><ul><li><a href="global.html#ChatListItem">ChatListItem</a></li><li><a href="global.html#Stack">Stack</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>Coin.tsx</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import * as React from 'react';
import { Text, View, Button, StyleSheet, Image,SafeAreaView, TouchableOpacity, ScrollView, Alert ,FlatList} from 'react-native';
import axios from 'axios';
import { createStackNavigator } from '@react-navigation/stack';
import DemandeAide from './DemandeAide';
import PropositionAide from './PropositionAide';
import GestionUcoin from './GestionUcoin';


 

/**
 *Component permettant de naviguer vers:
 *gestion de nos U-Coins,
 *possibilité de demander de l'aide,
 *possibilité d'aider une personne ,
 * et permettant d'afficher notre solde de U-Coins
*/
class Coin extends React.Component {
    constructor(props){
        super(props)
        this.state={
            login:this.props.route.params.login,
            ucoin:""
        }
    }
    /**
     * appelle la fonction getCoin lors du chargement des U-coins
     */
    componentDidMount(){
        this.getCoin()
    }
    /**
     * Permet de récupérer le nombre de U coin d'un utilisateur
     */
    getCoin=()=>{
        axios({
            method:'GET',
            url:'http://localhost:3000/Ucoin/'+this.state.login,
            
        }).then((response) =>{
            this.setState({ucoin:response.data.ucoin})
        })
    }
    


    /**
     * Affiche l'interface d'accueil des  U coins.
     * -des  boutons pour aller vers les pages suivantes:
     *          gestion de nos U-Coins,
     *          possibilité de demander de l'aide,
     *          possibilité d'aider une personne 
     */
    render(){
        return(
            &lt;SafeAreaView style={{backgroundColor:'#DC4444', height:"100%"}}>
                &lt;View style={{height: "28%",marginTop:'5%',backgroundColor:'white'}}>
                        &lt;Image style ={styles.image} source= {require ('../Images/Ucoin/ucoin.jpg')} />
                &lt;/View>
                &lt;View style={styles.view_bouton}>
                &lt;TouchableOpacity style={styles.bouton}  onPress={()=>{this.props.navigation.navigate('GestionUcoin', {login: this.state.login})}}>
                        &lt;Text>Gérer vos U-Coins&lt;/Text>
                    &lt;/TouchableOpacity>
                    &lt;TouchableOpacity style={styles.bouton}  onPress={()=>{this.props.navigation.navigate('DemandeAide', {login: this.state.login})}}>
                        &lt;Text>Demander de l'aide&lt;/Text>
                    &lt;/TouchableOpacity>
                    &lt;TouchableOpacity  style ={styles.bouton} onPress={()=>{this.props.navigation.navigate('PropositionAide', {login: this.state.login})}}>
                        &lt;Text>Proposer de l'aide&lt;/Text>
                    &lt;/TouchableOpacity>
                &lt;/View>
                
            &lt;/SafeAreaView>
        )
    }
    
}
/**
 * Système  de navigation pour:
 *  gérer notre compte  de U-Coins (component GestionUcoin)
 * permettre d'aller vers le component (DemandeAide)
 * permettre d'aller vers le component (PropositionAide)
 */
// Création de la navigation avec Modif.tsx
const Stack = createStackNavigator()
export default function MyStack({ login }) {
    
    return (
        &lt;Stack.Navigator
        screenOptions={{
            headerShown: true,
            cardStyle: { backgroundColor: '#EEEEEE' }
          }}>
          &lt;Stack.Screen name="Coin" component={Coin} options={{headerShown: false}} initialParams = {{login: login}}/>
          &lt;Stack.Screen name="GestionUcoin" component={GestionUcoin}  options={{headerShown: false, title: '', headerStyle: {
            height: 40, backgroundColor: 'transparent', borderBottomWidth: 0 } }} initialParams = {{login: login}}/>
          &lt;Stack.Screen name="DemandeAide" component={DemandeAide}  options={{headerShown: false, title: '', headerStyle: {
            height: 40, backgroundColor: 'transparent', borderBottomWidth: 0 } }} initialParams = {{login: login}}/>
          &lt;Stack.Screen name="PropositionAide" component={PropositionAide}  options={{headerShown: false, title: '', headerStyle: {
            height: 40, backgroundColor: 'transparent', borderBottomWidth: 0 } }} initialParams = {{login: login}}/>
        &lt;/Stack.Navigator>
      );
}





const styles=StyleSheet.create({
    main:{},
    vues: {
        height:"100%",
        backgroundColor: '#EEEEEE',
        marginBottom:50,
        position:'absolute'
    },
    view_bouton:{
        height:'30%',
        justifyContent:'center'
    },
    text:{
        width: "100%",
        height: '100%',
        textAlign:"center",
        justifyContent: "center",
    },
    bouton:{
        backgroundColor: 'white',  
        marginLeft: 25,
        marginRight: 25,
        marginTop: 10,
        borderWidth: 1,
        borderColor: '#000000',
        padding: 10,
        borderRadius: 10,   
    },
    image: {
        width: "100%",
        height: "100%",
        resizeMode : 'contain',
        position: "relative",
        paddingTop:'10%',
        justifyContent: "center",
        alignItems: "center",
    }
})</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
