

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Connexion.tsx</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
             
                <a href="index.html">
                    <h1 class="navbar-item">My React components</h1>
                </a>
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Classes</h3><ul><li><a href="BackgroundCarousel.html">BackgroundCarousel</a></li><li><a href="Coin.html">Coin</a></li><li><a href="Connexion.html">Connexion</a></li><li><a href="Inscription.html">Inscription</a></li><li><a href="Modif.html">Modif</a></li><li><a href="module.html#.exports">exports</a></li><li><a href="Propositions_Profils.html">Propositions_Profils</a></li></ul><h3>Global</h3><ul><li><a href="global.html#ChatListItem">ChatListItem</a></li><li><a href="global.html#Stack">Stack</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>Connexion.tsx</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React from 'react';
import { StyleSheet, Text, Image, View, Button, TextInput,TouchableOpacity,ImageBackground, TouchableWithoutFeedbackBase, AppState} from 'react-native';
import axios from 'axios';
import Inscription from './Inscription'
import { NavigationContainer } from '@react-navigation/native';
import { createStackNavigator } from '@react-navigation/stack';
import Nav from './Nav'
import RecoveredEmail from './FogotPassword';



/**
 * Component de connexion
 */
class Connexion extends React.Component {

    constructor(props){
        super(props);
        this.state= {login:"", password:""}
    }
    handleLogin = (event) => {
        this.setState({
            login: event.target.value
        })
    }
    /**
     * Pour envoyer le mot de passe
     * @param event le mot de passe
     * 
     */
    handlePassword =(event) => {
        this.setState({
            password: event.target.value
        })
    }
    checkLogin = () => axios({
        method: 'post',
        url: 'http://localhost:3000/login',
        data: {
          mail: this.state.login,
          password:this.state.password
        }   
    }  
    ).then((response) =>{

        if (response.data.auth){
            localStorage.setItem("token",response.data.token);            
            this.props.navigation.navigate('Nav', {login: response.data.userId});
        }
    });

    

    
    

    
    render(){
        return(
            
            &lt;View style = {styles.main_container} > 
                &lt;View style={{flex:2}}>
                    &lt;Image style ={styles.image_unizz} source= {require ('./Images/un.png')} />
                &lt;/View>
                
                &lt;View style = {{justifyContent: 'center', flex:2}}> 
                    &lt;TextInput style = {[styles.textinput1]}  placeholder = "Identifiant" onChange = {this.handleLogin} value = {this.state.login}/>
                    &lt;TextInput secureTextEntry={true} style = {styles.textinput2 } placeholder = "Mot de passe" onChange = {this.handlePassword} value = {this.state.password}/>
                    &lt;TouchableOpacity style={styles.bouton1} onPress= {this.checkLogin}>
                        &lt;Text style={{fontWeight: "bold"}}>Connexion&lt;/Text>
                    &lt;/TouchableOpacity >
                &lt;/View>
                &lt;View style = {{backgroundColor:'#DC4444', flex:1, marginTOP:5}}>
                    &lt;TouchableOpacity onPress={()=>this.props.navigation.navigate('RecoveredEmail')}> 
                        &lt;Text style ={styles.text_mdp}  >Mot de passe oublié ?&lt;/Text>
                    &lt;/TouchableOpacity>
                &lt;/View>  
                &lt;View style = {{backgroundColor:'white', flex:1}}>
                    &lt;Text style ={styles.text_inscription}>Vous n'êtes pas encore inscrit ?&lt;/Text>
                    &lt;TouchableOpacity style={styles.bouton1} onPress={()=> this.props.navigation.navigate('Inscription')}>
                        &lt;Text style={{fontWeight: "bold"}}>S'inscrire&lt;/Text>
                    &lt;/TouchableOpacity>
                &lt;/View>              
            &lt;/View>
        )
    }
}

const Stack = createStackNavigator()
/**
 * La navigation
 * 
 */
export default function MyStack() {
    return (
        &lt;Stack.Navigator>
          &lt;Stack.Screen name="Connexion" component={Connexion}  options={{headerShown: false}}/>
          &lt;Stack.Screen name="Inscription" component={Inscription} options={{title: '', headerStyle: {
            height: 40}}} />
          &lt;Stack.Screen name="Nav" component={Nav} options={{headerShown: false}}/>
          &lt;Stack.Screen name="RecoveredEmail" component={RecoveredEmail} options={{title: '', headerStyle: {
            height: 40}}} />
        &lt;/Stack.Navigator>
      );
}

const styles = StyleSheet.create ({
    main_container : {
        height:'100%',
        backgroundColor: '#DC4444',
        flex:1,
    },

    image_unizz : {
        alignSelf: "center",
        height: 200,
        width: 225,
        resizeMode: "contain",
        position: "absolute",
        bottom: "0%",  
    },

    

    textinput1 : {
      
      backgroundColor: 'white',  
      marginLeft: 35,
      marginRight: 35,
      marginTop: 15,
      height: 50,
      borderWidth: 1,
      borderColor: '#000000',
      padding: 10,
      borderRadius: 10
      
     
      
      
    },

    textinput2: {
      backgroundColor: 'white',  
      marginTop:15,
      marginLeft: 35,
      marginRight: 35,
      marginBottom:10,
      height: 50,
      borderWidth: 1,
      borderColor: '#000000',
      padding: 10, 
      borderRadius: 10

    },

    bouton1: {
        backgroundColor: '#DDDDDD',
        alignItems: "center",
        marginTop: 15,  
        marginLeft: 55,
        marginRight: 55,
        height: 35,
        justifyContent: "center",
        color: "red",
        borderRadius: 20
      
    },

    text_mdp: {
        marginTop:10,
        textAlign: 'center',
        textDecorationLine: 'underline'
    },

    text_inscription: {
        paddingTop: 10,
        textAlign: 'center',

    }



  })
  
</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
