

<!DOCTYPE html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> NotificationsScreen.tsx</title>

  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  <script src="./build/entry.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700|Inconsolata,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="https://jmblog.github.io/color-themes-for-google-code-prettify/themes/tomorrow-night.min.css">
  <link type="text/css" rel="stylesheet" href="styles/app.min.css">
  <link type="text/css" rel="stylesheet" href="styles/iframe.css">
  <link type="text/css" rel="stylesheet" href="">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  
</head>



<body class="layout small-header">
    <div id="stickyNavbarOverlay"></div>
    

<div class="top-nav">
    <div class="inner">
        <a id="hamburger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        <div class="logo">
            
             
                <a href="index.html">
                    <h1 class="navbar-item">My React components</h1>
                </a>
            
        </div>
        <div class="menu">
            
            <div class="navigation">
                <a
                    href="index.html"
                    class="link"
                >
                    API Documentation
                </a>
                
                
                
            </div>
        </div>
    </div>
</div>
    <div id="main">
        <div
            class="sidebar "
            id="sidebarNav"
        >
            
            <nav>
                
                    <h2><a href="index.html">Documentation</a></h2><div class="category"><h3>Classes</h3><ul><li><a href="BackgroundCarousel.html">BackgroundCarousel</a></li><li><a href="Coin.html">Coin</a></li><li><a href="Connexion.html">Connexion</a></li><li><a href="Inscription.html">Inscription</a></li><li><a href="Modif.html">Modif</a></li><li><a href="module.html#.exports">exports</a></li><li><a href="Propositions_Profils.html">Propositions_Profils</a></li></ul><h3>Global</h3><ul><li><a href="global.html#ChatListItem">ChatListItem</a></li><li><a href="global.html#Stack">Stack</a></li></ul></div>
                
            </nav>
        </div>
        <div class="core" id="main-content-wrapper">
            <div class="content">
                <header class="page-title">
                    <p>Source</p>
                    <h1>NotificationsScreen.tsx</h1>
                </header>
                



    
    <section>
        <article>
            <pre class="prettyprint source linenums"><code>import React, { Component, useState } from "react";
import Search from "../src_musique/components/Search";
import Listing from "../src_musique/components/Listing";
import token from "../src_musique/api/token";
import search from "../src_musique/api/search";
import axios from 'axios';
import {StyleSheet, Text, Image, ScrollView, View, SafeAreaView, Button,FlatList,  TextInput,TouchableOpacity,ImageBackground, TouchableWithoutFeedbackBase, AppState} from 'react-native';
import ProfilNotif from "./ProfilNotif";
import Separator from '../src_musique/components/Separator';





var i=0
var usersKey
var users
const data = axios.get("http://localhost:3000/users",{headers:{ "x-access-token": localStorage.getItem("token")}})
  .then((response) => {
    usersKey=Object.keys(response.data)
    users=response.data})



export default class NotificationsScreen extends Component {
  constructor(props){
    super(props)
    this.state= {
        login : this.props.route.params.login,
        likeInNotif: "",
        
        
    };    
  };

/**
 * Récupéragion des Likes et Checks du Back 
 */
  getLikeIn= async () => {
    try {
      const res = await  axios.get('http://localhost:3000/users/'+this.state.login)
      if (res) {
        this.setState({likeInNotif:res.data});
        
      }
    } catch (error) {
      console.log('error:', error);
    }
  }

  componentDidMount() {
    this.getLikeIn();
  }

  render(){      
    return (
        &lt;SafeAreaView style={{backgroundColor:'#DC4444', height:"100%"}}>
                &lt;Text style={{margin: 15, textAlign: "center", fontWeight: "bold", fontSize: 22, color:"#111", textDecorationLine: "underline"}}>Centre de notifications&lt;/Text>
                &lt;FlatList style={styles.textinput1}
                    data={this.state.likeInNotif}
                    renderItem={({item}) => &lt;ProfilNotif uti={[item,this.state.login]}
                    />}
                    ItemSeparatorComponent={() => &lt;Separator />} 
                />
              
            
        &lt;/SafeAreaView>
      );
  }

}
  const styles = StyleSheet.create({
    container: {
      justifyContent: 'flex-start',
      height: "100%",
      backgroundColor: 'white',  
      marginHorizontal: 20,
      marginBottom: 1,
      borderWidth: 1,
      borderColor: '#000000',
      borderRadius: 10,
      textAlign: "left",
    },
    nom:{
        margin: 10,
        fontSize: 26,
        fontWeight: 'bold',
        textAlign: 'center',
    },

    textinput1 : {
      height: "100%",
      backgroundColor: 'white',  
      marginHorizontal: 20,
      margin: 15,
      borderWidth: 1,
      borderColor: '#000000',
      borderRadius: 10,
      paddingHorizontal: 5

    }
  });




</code></pre>
        </article>
    </section>




            </div>
            
            <footer class="footer">
                <div class="content has-text-centered">
                    <p>Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3.6.6</a></p>
                    <p class="sidebar-created-by">
                        <a href="https://github.com/SoftwareBrothers/better-docs" target="_blank">BetterDocs theme</a> provided with <i class="fas fa-heart"></i> by 
                        <a href="http://softwarebrothers.co" target="_blank">SoftwareBrothers - JavaScript Development Agency</a>
                    </p>
                </div>
            </footer>
            
        </div>
        <div id="side-nav" class="side-nav">
        </div>
    </div>
<script src="scripts/app.min.js"></script>
<script>PR.prettyPrint();</script>
<script src="scripts/linenumber.js"> </script>

</body>
</html>
